<form [formGroup]="multiSelectFormGroup">
  <div class="form-group" [ngClass]="{'show': element.visibility, 'hide': !element.visibility}">
      <label [for]="element.fieldName">
        <span>{{element.fieldName}}</span>
        <span *ngIf="element.required" class="required">*</span>
      </label>
      <select [formControlName]="element.uniqueId" multiple class="form-control" [id]="element.fieldName">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <div class="alert alert-danger" *ngIf="element.required && !multiSelectFormGroup.get(element.uniqueId).valid && multiSelectFormGroup.get(element.uniqueId).touched">
        {{element.fieldName}} is required
      </div>
  </div>
</form>