/* You can add global styles to this file, and also import other style files */
body {    
    background: #F5F6F7;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.required {
    color: red;
    padding-left: 5px;
}
.alert {
    padding: 7.5px;
    margin-top: 5px;
}